<!DOCTYPE html>
<html lang="en" xmlns:layout="http://www.w3.org/1999/xhtml" layout:decorate="~{layouts/main}" xmlns:th="http://www.thymeleaf.org" >
<head>
    <title>Add product review</title>
</head>
<body>
<div class="container justify-content-center" layout:fragment="main-content">
    <div class="container">
        <div class="row">
            <div class="col-sm"></div>
            <div class="col-sm">
                <h4 class="text-center">Create review</h4>
                <form th:action="@{#}" th:object="${review}" method="post">
                    <div class="form-group">
                        <label>Overall rating</label>
                        <input type="number" class="form-control" id="inputQty" min="0" max="10" value="0" th:field="*{rating}">
                        <p th:if="${#fields.hasErrors('rating')}" th:errors="*{rating}" th:errorclass="fieldError"></p>
                    </div>
                    <div class="form-group">
                        <label>Write your review</label>
                        <textarea class="form-control" rows="3" th:field="*{comment}"></textarea>
                        <p th:if="${#fields.hasErrors('comment')}" th:errors="*{comment}" th:errorclass="fieldError"></p>
                    </div>
                    <div class="row justify-content-md-end">
                        <button type="reset" class="btn btn-outline-warning m-2">Reset</button>
                        <a th:href="@{/product/{id}(id=${id})}" class="btn btn-outline-secondary m-2">Cancel</a>
                        <button id="btn" type="submit" class="btn btn-outline-primary m-2">Submit</button>
                    </div>
                </form>
            </div>
            <div class="col-sm"></div>
        </div>
    </div>
</div>

</body>
</html>