<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <meta charset="UTF-8">
    <title>Header</title>
</head>
<body>
<header th:fragment="header">
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <a class="navbar-brand" href="#">Online Market</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item active">
                    <a class="nav-link" th:href="@{/}">Home</a>
                </li>
                <li class="nav-item active">
                    <a class="nav-link" th:href="@{/product}">Product</a>
                </li>
                <li class="nav-item active">
                    <a class="nav-link" th:href="@{/seller/product}">Seller product</a>
                </li>
                <li class="nav-item active">
                    <a class="nav-link" th:href="@{/admin/products}">Admin product</a>
                </li>
                <li class="nav-item active">
                    <a class="nav-link" th:href="@{/admin/reviews}">Admin review</a>
                </li>
            </ul>
            <div sec:authorize="hasRole('ROLE_BUYER')">
                <a class="card-link" th:href="@{/cart}">
                    <i class="material-icons">shopping_cart</i>
                    <span id="itemCount" th:text="${shoppingCart.size()}"></span>
                </a>
            </div>
            <div>
                <div class="dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        <span th:text="${userName}"></span>
                    </a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                        <a class="dropdown-item" th:href="@{/logout}">Logout </a>
                    </div>
                </div>
            </div>
        </div>
    </nav>
</header>
</body>
</html>