<!DOCTYPE html>
<html xmlns:layout="http://www.w3.org/1999/xhtml" layout:decorate="~{layouts/main}"
      xmlns:th="http://www.thymeleaf.org">

<head>
    <title>Home Page</title>
    <link rel="stylesheet" type="text/css" th:href="@{/css/login.css}" href="../../static/css/login.css"/>
</head>
<body>
<div class="container" layout:fragment="main-content">
    <!-- BUYER HOME START-->
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="error-template">
                    <div class="container">
                        <!--/*@thymesVar id="msg" type=""*/-->
                        <p class="h2" th:text="${msg}">Sorry, you do not have permission to view this page.</p>
                        <!--/*@thymesVar id="url" type=""*/-->
                        <p class="h4" th:text="${url}">Sorry, you do not have permission to view this page.</p>
                        <!--/*@thymesVar id="exception" type=""*/-->
                        <p class="h4" th:text="${exception}">Sorry, you do not have permission to view this page.</p>
                    </div>
                    <div class="error-actions">
                        <a type="button" class="btn btn-primary" href="/" th:href="@{/}">Go Home</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- BUYER HOME END-->
</div>
</body>
</html>