<!DOCTYPE html>
<html lang="en" xmlns:layout="http://www.w3.org/1999/xhtml" layout:decorate="~{layouts/main}" xmlns:th="http://www.thymeleaf.org" >
<head>
    <title>Edit product</title>
</head>
<body>
<div class="container" layout:fragment="main-content">
    <!-- MAIN START-->
    <div class="container">
        <p class="h2 pt-2">Edit Product</p>
        <form th:action="@{/seller/product/{id}(id=${product.id})}" th:object="${product}" class="center" enctype="multipart/form-data" method="post">
            <div class="row justify-content-md-center">
                <div class="col-6">
                    <div class="form-group">
                        <label>Product Name</label>
                        <input type="text" id="name" name="name" class="form-control" th:field="*{name}">
                        <small class="form-text text-muted">Enter your product name</small>
                        <p th:if="${#fields.hasErrors('name')}" th:errors="*{name}" th:errorclass="fieldError" style="color: red"></p>
                    </div>
                </div>
                <div class="col-6">
                    <div class="form-group">
                        <label>Unit Price</label>
                        <input type="text" id="price" name="price" class="form-control" th:field="*{price}">
                        <small class="form-text text-muted">Enter you product unit price</small>
                        <p th:if="${#fields.hasErrors('price')}" th:errors="*{price}" th:errorclass="fieldError" style="color: red"></p>
                    </div>
                </div>
                <div class="col-6">
                    <div class="form-group">
                        <label>Quantity in Stock</label>
                        <input type="text" id="quantity" name="quantity" class="form-control" th:field="*{quantity}">
                        <p th:if="${#fields.hasErrors('quantity')}" th:errors="*{quantity}" th:errorclass="fieldError" style="color: red"></p>
                        <small class="form-text text-muted">Quantity of product in your stock</small>
                    </div>
                </div>
                <div class="col-6">
                    <div class="form-group">
                        <label>Category</label>
                        <select th:field="*{category.id}" class="form-control" name="category" id="category">
                            <option value="0" selected disabled>Select a category</option>
                            <option th:each="cat : ${categories}" th:value="${cat.id}" th:text="${cat.name}"></option>
                        </select>
                        <p th:if="${#fields.hasErrors('category')}" th:errors="*{category}" th:errorclass="fieldError" style="color: red"></p>
                    </div>
                </div>
                <div class="col-6">
                    <div class="form-group">
                        <label>Product Description</label>
                        <textarea id="description" th:rows="3" name="description" class="form-control" th:field="*{description}"></textarea>
                        <small class="form-text text-muted">Enter your product description</small>
                    </div>
                </div>
                <div class="col-6">
                    <div class="form-group">
                        <label>Product Image</label>
                        <input type="file" th:field="*{productImage}" name="productImage" class="form-control" id="productImage">
                        <small class="form-text text-muted">Upload product image</small>
                        <p th:if="${#fields.hasErrors('description')}" th:errors="*{description}" th:errorclass="fieldError" style="color: red"></p>
                    </div>
                </div>
            </div>
            <div class="row justify-content-md-end">
                <a th:href="@{/seller/product}" class="btn btn-outline-primary m-2">Cancel</a>
                <button type="submit" id="btn" class="btn btn-outline-warning m-2">Save</button>
            </div>
        </form>
    </div>

    <!-- MAIN END-->
</div>

</body>
</html>