<!DOCTYPE html>
<html lang="en" xmlns:layout="http://www.w3.org/1999/xhtml" layout:decorate="~{layouts/main}"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Product List</title>
    <link rel='stylesheet' type='text/css' media='screen' th:href="@{/css/login.css}">
</head>
<body>
<div class="container" layout:fragment="main-content">
    <!-- MAIN START-->
    <div class="container">
        <p class="h5">Order Details</p>
        <div class="card mb-3" th:each="order : ${orders}">
            <div class="card-header bg-info text-white">
                <div class="row justify-content-md-center">
                    <div class="col-3">
                        <strong>Buyer: </strong><span th:text="${order.buyer.firstName}"></span>
                    </div>
                    <div class="col-3">
                        <strong>Amount: </strong><span th:text="${order.sum}"></span>
                    </div>
                    <div class="col-3">
                        <strong>Status: </strong><span th:text="${order.status}"></span>
                    </div>
                    <div class="col-3">
                        <strong>Updated Date: </strong><span
                            th:text="${#dates.format(order.updateTime, 'dd-MMM-yyyy HH:mm')}"></span>
                    </div>
                </div>
            </div>
            <table id="oderInfo" class="table table-bordered borderless table-hover mb-1">
                <thead>
                <tr>
                    <th class="bg-light">Product</th>
                    <th class="bg-light">Quantity</th>
                    <th class="bg-light">Amount</th>
                </tr>
                </thead>
                <tr th:each="item : ${order.items}">
                    <td class="align-middle" th:text="${item.product.name}"></td>
                    <td class="align-middle" th:text="${item.quantity}"></td>
                    <td class="align-middle" th:text="${item.price}"></td>
                </tr>
            </table>

            <form th:action="@{/seller/orders/{id}(id=${order.id})}" th:object="${tempOrder}" method="post">
                <div class="row justify-content-md-end m-1">
                    <div class="col-md-auto form-group align-middle m-1 mt-1">
                        <strong>Shipping Address: </strong>
                        <span th:text="${order.shippingAddress.street} + ', '+ ${order.shippingAddress.city} + ', ' + ${order.shippingAddress.state} + ', ' + ${order.shippingAddress.country} + ', ' + ${order.shippingAddress.postalCode}"></span>
                    </div>
                    <div class="col-md-auto form-group align-middle m-1">
                        <input type="text" id="id" name="id" th:field="*{id}" disabled th:type="hidden">
                        <select class="form-control-sm" name="status" id="status">
                            <option th:each="stat : ${orderStatus}" th:selected="${stat == order.status}" th:value="${stat}" th:text="${stat}"></option>
                        </select>
                    </div>
                    <div class="col-md-auto form-group align-middle m-1 mt-1">
                        <button id="btn" type="submit" class="btn btn-outline-primary btn-sm">Update Status</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
    <!-- MAIN END-->
</div>
</body>
</html>