<!DOCTYPE html>
<html xmlns:layout="http://www.w3.org/1999/xhtml" layout:decorate="~{layouts/main}" xmlns:th="http://www.thymeleaf.org" >
<head>
    <title>Product List</title>z
</head>
<body>
<div class="container" layout:fragment="main-content">
    <!-- MAIN START-->
    <section class="container">
            <table class="table table-striped">
                <thead>
                <tr>
                    <th style="width: 75px">Picture</th>
                    <th>Name</th>
                    <th>Unit Price</th>
                    <th>Category</th>
                    <th>Quantity</th>
                    <th>Status</th>
                    <th>Edit</th>
                </tr>
                </thead>
                <tr th:each="product : ${products}">
                    <td><img class="img-thumbnail w-100" th:attr="src=@{'/' + ${product.imagePath}},title=${product.name},alt=${product.name}"/></td>
                    <td th:text="${product.name}"></td>
                    <td th:text="${product.price}"></td>
                    <td th:text="${product.category}"></td>
                    <td th:text="${product.quantity}"></td>
                    <td th:text="${product.enabled} ? 'Approved' : 'Pending'"></td>
                    <td>
                        <a title="Edit" class="btn btn-primary" th:href="@{/seller/product/{id}(id=${product.id})}">Edit</a>
                        <a title="Delete" class="btn btn-warning" th:href="@{/seller/product/delete/{id}(id=${product.id})}">Delete</i></a>
                    </td>
                </tr>
            </table>
    </section>
    <!-- MAIN END-->
</div>

</body>
</html>