<!DOCTYPE html>
<html xmlns:layout="http://www.w3.org/1999/xhtml" layout:decorate="~{layouts/main}"
      xmlns:th="http://www.thymeleaf.org">

<head>
    <title>Product Details</title>
    <link rel='stylesheet' type='text/css' media='screen' th:href="@{/css/productDetails.css}">
</head>
<body>
<div id="product" class="container pt-4" layout:fragment="main-content">
    <div class="row mb-4">
        <div class="col-4">
            <div class="image">
                <img th:attr="src=@{'/' + ${product.imagePath}},title=${product.name},alt=${product.name}"/>
            </div>
        </div>
        <div class="col-8">
            <p>Seller: <a th:text="${product.getSeller().getFirstName()}"
                          th:href="@{/buyer/seller/{id}(id=${product.seller.id})}"></a></p>
            <h2 th:text="${product.name}"></h2>
            <h4><b>Price: </b> $<span th:text="${product.price}"></span></h4>
            <div class="horizontal-line">
                <p class="text-justify" th:text="${product.description}"></p>
            </div>
            <div class="row justify-content-md-end mt-4">
                <a title="Edit" class="btn btn-lg btn-outline-primary mr-3" th:href="@{/seller/product}">Back</a>
                <a title="Edit" class="btn btn-lg btn-outline-secondary mr-3" th:href="@{/seller/product/{id}(id=${product.id})}">Edit</a>
                <a title="Delete" class="btn btn-lg btn-outline-warning mr-3" th:href="@{/seller/product/delete/{id}(id=${product.id})}">Delete</a>

            </div>
        </div>
    </div>
</div>
</body>
</html>