<!DOCTYPE html>
<html xmlns:layout="http://www.w3.org/1999/xhtml" layout:decorate="~{layouts/main}"
      xmlns:th="http://www.thymeleaf.org" >

<head>
    <title>Home Page</title>
    <!--   Өөрийн page дээ custom CSS ээ нэмэх бол ингээд нэмчих юм байна
        <link rel='stylesheet' type='text/css' media='screen' th:href="@{/css/main.css}">-->
</head>
<body>
<div class="container" layout:fragment="main-content">
    <!-- BUYER HOME START-->
    <div class="row justify-content-md-center">
         <div class="col-md-3" align="center">
            <div class="jumbotron">
            <h3>Seller Info</h3>
            <p th:text="'First Name: ' +  ${seller.firstName}" />
            <p th:text="'Last Name: ' +  ${seller.lastName}" />
            <p th:text="'Email: ' +  ${seller.email}" />
          <!--  <form action="#" th:action="@{/buyer/seller/follow}" th:object="${seller}" method="post">
                <input type="submit" value="Follow" class="btn btn-sm btn-primary btn-lg"/>
            </form> -->
                <form th:action="@{#}" th:method="POST">
                <input name="cmd" type="hidden" th:value="(${following}) ? @{'unfollow'} : @{'follow'}"/>
                <input type="submit" id="followBtn" class="btn btn-success"
                       th:value="(${following}) ? 'Unfollow' : 'Follow' "/>
                </form>

            </div>
        </div>
    </div>
</div>
</body>
</html>